html,
body {
    height: 100%;
}

body {
    display: flex;
}

div {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding: 100px 200px;
    background-color: coral;
    margin: auto;
}